body {
    height: 100vh;
    background: #eee;
    white-space: nowrap;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

/*header*/
#header {
    background-color: #424242;
}

#header .header-wrapper {
    display: flex;
    justify-content: space-between;
}
#header .header-wrapper a {
    color: white;
    font-weight:500 ;
    text-decoration: none;
}
.mango_png{
    width: 40px;
    height: 40px;
    margin-top:-10px ;
    margin-left:-10px ;
}
.num{
    color:white;
    padding-top:30px;
    font-weight:600 ;
}
.balans{
    font-weight:600;
    color:#848484;
    padding-top:15px ;
    padding-left:8px ;
}
.comment {
    padding-top: 20px;
}
.exit{
    padding-top: 19px;
}
.nav > li > a:hover,
.nav > li > a:focus {
    text-decoration: none;
    background-color: #424242;
}
.ls{
    font-weight:600;
    color:#848484;
    padding-top:15px;
    padding-left:20px ;

}
.replenish{
    background-color:#2F4F4F ;
    font-size: 12px;
    margin-top:-5px;
    margin-left:15px;
    padding: 4px 30px;
    border-radius: 4px;
    border-style:solid;
    border-color:#6B8E23;
}

.navbar-default .navbar-nav > li > a {
    font-weight:600;
}
/*double menu*/
.main-menu-wrapper {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.main-menu-wrapper a {
    color: black;
    font-weight:600 ;
    text-decoration: none;
}
.main-menu-wrapper > ul {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    width: 60%;
    padding: 0;
}
.double-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.main-menu-wrapper > ul > li {
    width: fit-content;
    height: 100%;
    display: flex;
    align-items: center;
}
.main-menu-wrapper > ul > li a {
    padding: 4px;
}
.help-info a{
    color: #0a73bb;
    border-bottom: 1px dotted #0a73bb;
    text-decoration: none;
}
.help-info a:hover{
    text-decoration: none;

}
.main-menu-wrapper > ul > li a span.glyphicon {
    margin-right: 10px;
}
.main-menu-wrapper > ul > li > .dropdown {
    height: 100%
}
.main-menu-wrapper > ul > li > .dropdown > button {
    border-radius: 0;
    background: orange;
    color: #fff;
    width: 100%;
    height: 100%;
    border: 0;
}
.second-menu{

    border-radius: 0;
    background: orange;
    width: 100%;
    height: 100%;
    border: 0;
    display: flex;
    align-items: center;
}
.main-first-menu{
    border-right: 1px solid black ;
    padding: 5px;

}
.main-menu-wrapper .help-info {
    margin-right: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.drop-site{
    display: flex;
    align-items: center;
    justify-content: left;
    background-color:#eee;
}
.dropdown {
    background-color:#eee;
    display: flex;
    align-items: center;
    justify-content: left;
}
.tarif{
    padding-left:10px ;
}
.content {
    padding: 20px;
    margin-top: 40px;
    margin-left: -184px;
    background: #fff;
    justify-content: space-between;
}
.logout{
    padding-top:8px ;
    color:white;
    background-color: #424242 ;
    border-color: #424242 ;
    border-width:0;

}
.content-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 40px;
}
.content-wrapper .left-panel {
    width: 48%;
}
.content-wrapper .left-panel .numbers {
    display: flex;
    justify-content: space-between;
}
.content-wrapper .left-panel .numbers .our_numbers {
    width: 40%;
}
.content-wrapper .left-panel .numbers .buy {
    margin-top: 23px;
    width: 60%;
    padding-left: 120px;
}
.content-wrapper .left-panel .numbers-buy {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.content-wrapper .left-panel .numbers-buy .num-buy{
    display:flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}
.content-wrapper .left-panel .numbers-buy .title {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    display: flex;
}
.content-wrapper .left-panel .numbers-buy .item {
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
}
.content-wrapper .left-panel .numbers-buy .numbers-buy_number_our_operator{
    color: black;
    font-weight:600 ;
}
.content-wrapper .left-panel .numbers-buy .connect {
    width: 60%;
    padding-left: 120px;
}
.content-wrapper .left-panel .widgets-wrapper {
    margin-top: 20px;
    display: flex;
}
.our_numbers{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
/*Блок ВАШИ НОМЕРА*/
.numbers_our-numbers{
    text-decoration:underline;
    color: black;
    font-weight:600 ;
}
.numbers_our-numbers:visited{
    color: black;
}
.numbers_numbers-mango{
    color: black;
    font-weight:600;
    padding-top:-7px;
}
/*Блок ВАШИ НОМЕРА_____КУПИТЬ*/
.buy{ }
.buy-button{
    text-decoration:underline;
}
.buy-wrapper{
    margin-top:12px;
}
/*Блок НОМЕРА ДРУГИХ ОПЕРАТОРОВ*/
.conn-wrapper{
    margin-top:12px;
}
/*Блок ВИДЖЕТЫ ДЛЯ САЙТА*/
.widgets-site{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.widgets-site_sites{
    color: black;
    font-weight:600;
    padding-top:-17px;
}
.add{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left:238px ;
}
.personal-wrapper_our-personal {
    text-decoration:underline;
    color: black;
    font-weight:600 ;
}
.extension_number{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}
.sotrudniki{
    color: black;
    font-weight:600;
    padding-top:4px;
}
.group_new{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.group_p{
    color: black;
    font-weight:600;
}
.group_b{
    display:flex;
    flex-direction: column;
    justify-content:space-between;
}
/*Блок ИНТЕГРАЦИИ*/
.integration{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.integration_p{
    color: black;
    font-weight:600;
}
.plug{
    display:flex;
    flex-direction: column;
    justify-content: center;
}
.service-wrapper{
    padding-left:3px ;
}
.title-call{}
/*Блок FOOTER*/
.footer-wrapper{
    border-top: 1px solid #ccc;
    padding-bottom:16%;
    display:flex;
    justify-content: space-between;
}